---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;

// Color palette https://coolors.co/app/13293d-006494-247ba0-1b98e0-e8f1f2

$palette-dark-color:	#13293d; //rgba(19, 41, 61, 100)
$palette-middle-color:	#006494; //rgba(0, 100, 148, 100)
$palette-light-color:	#247ba0; //rgba(36, 123, 160, 100)
$palette-accent-color:	#1b98e0; //rgba(27, 152, 224, 100)
$palette-white-color:	#e8f1f2; //rgba(232, 241, 242, 100)

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "custom"
;