/**
 * Custom Site Specific Styles by El Granto
 */

 @charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Cookie);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

body {background: $palette-dark-color;} 
.page-content {background: $palette-white-color;}
.site-header {
	background: $palette-middle-color;
	.wrapper{
		background: url("/assets/images/pixelFamily.png") top right no-repeat;
		background-size: contain;
	}
}

.site-title {
    font-family: 'Cookie', cursive;
}

h1, h2, h3, h4, h5, h6{ font-family: 'Roboto Slab', serif; } 

#site-menu{
	ul{
		li{margin-right: .5rem;}
	}
}

.home {
	.post-title {margin-bottom:0;}
}

.accordion-title h3{margin:0;}

@include media-query($on-palm) {
	// making the nav pretty for mobile

	.site-header {
		.wrapper{
			background: url("/assets/images/pixelFamily.png") top center no-repeat;
			background-size: contain;
			padding-top: 12.5rem;
			margin:0 .5rem;
			.site-title {display:inline-block; width: 100%; text-align: center;}
		}
	}
	.page-link {margin-bottom:.5rem;}
	#site-menu{
		ul{
			li{margin-bottom: .5rem;}
		}
	}

	// fixing flexbox bug on main nav on mobile
	.site-header{
		.top-bar-left,
		.top-bar-right {
		  -webkit-flex: 0 0 100%;
		      -ms-flex: 0 0 100%;
		          flex: 0 0 100%; }
	}
}