/**
 * Custom Site Specific Styles by El Granto
 */

 @charset "utf-8";

body {background: $palette-dark-color;} 
.page-content {background: $palette-white-color;}
.site-header {background: $palette-middle-color;}