<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    {% include header.html %}

    <main>
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.12.2.min.js"><\/script>')</script>

    <script src="/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

  </body>
</html>